TABLE_NAME=pypi_file_downloads
S3_PATH=s3://my-s3-bucket
AWS_PROFILE=default
GCP_PROJECT=my-gcp-project
START_DATE=2023-04-01
END_DATE=2023-04-03
PYPI_PROJECT=duckdb
GOOGLE_APPLICATION_CREDENTIALS=/path/to/my/creds
motherduck_token=123123
TIMESTAMP_COLUMN=timestamp
DESTINATION=local,s3,md
S3_PATH_DBT_TRANSFORM=s3://my-bucket/pypi_file_downloads/*/*/*.parquet
