[tool.poetry]
name = "pypi-duck-flow"
version = "0.1.0"
description = ""
authors = ["Mehdi Ouazza <mehdi@mehd.io>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.11,<3.13"
duckdb = "^0.9.2"
fire = "^0.5.0"
google-cloud-bigquery = "^3.13.0"
loguru = "^0.7.2"
google-auth = "^2.24.0"
pydantic = "^2.5.2"
db-dtypes = "^1.1.1"
pandas = "^2.1.3"
pyarrow = "^14.0.2"
google-cloud-bigquery-storage = "^2.24.0"
dbt-duckdb = {version = "1.7.2", extras = ["md"]}


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
ruff = "^0.1.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
# google warning https://github.com/googleapis/google-cloud-python/issues/11184
filterwarnings = [
    "ignore:Deprecated call to `pkg_resources\\.declare_namespace\\('.*'\\):DeprecationWarning",
    "ignore::DeprecationWarning:google.rpc",
]
